/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
        background-color: #2e251e;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    text-align: center;
    line-height: 40px;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: #fff;
        line-height: $base-line-height;
        text-align: center;
        font-family: Dotum;
        font-weight: 500;
        text-align: justify;
        // Gaps between nav items, but not on the first one
        //&:not(:first-child) {
            margin-left: 20px;
        //}
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        //text-align: right;
	z-index: 50;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            text-align: center;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            color: #000;
            display: block;
            padding: 5px 10px;
        }
    }
}

.logo{
    background-image: url("/img/banner2.png");
    background-color: #d4c4ac;    
    height: 117px;
    background-repeat: no-repeat;
    background-position: center; 
    text-indent: -9999px;
    box-shadow: 0px 4px 3px 0px #bbb;
}

.fa-stack-1x{
  color: #f3ead8;
}

.social-media{
    color: #ada593;
    position: absolute;
    right: 60px;
    top: 200px;
    z-index: 20;
    font-size: 18pt;
    a {
        color: #ada593;
        text-decoration: none;
        &:visited {
            color: #ada593;
        }

        &:hover {
            color: darken(#ada593,30%);
            text-decoration: underline;
    }
}

}

/**
 * Site footer
 */
.site-footer {
    color: #fff;
    font-weight: 300;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    z-index: 10;
    background: #2e251e;

    a {
        color: #fff;
        text-decoration: none;

        &:visited {
            color: #fff;
        }

        &:hover {
            color: darken(#fff,30%);
            text-decoration: underline;
        }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    line-height: 20pt;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(0% - (#{$spacing-unit} / 2));
    width:         calc(0% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.copyright {
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    text-align: center;
    p {text-align: center;}
    a:link{color: #fff; font-weight:bold;}
}

/**
 * Page content
 */
.page-content {
    padding: 0 0;
    background: #f3ead8;

}

.page-heading{
    font-size: 20px;
}

/**
 * Sub Headings
 */
.post-heading{
    display: block;
    margin: 0 0 0 0;
    position: relative;
    h1{ 
        position: relative;
        display: block;
        //width: 300px;
        text-align: right;
    }
    span{
        box-shadow: 4px 4px 3px #bbb;
        padding: 3px 6px 6px 6px;    
    }
}

.post-heading:nth-of-type(odd){
    //right:-20;
    h1{
        text-align: right;
        right: -55px;
    }
}

.post-heading:nth-of-type(even){
    //left:20;
    h1{
        text-align: left;
        left: -55px;
    }
}

@media screen and (max-width: 1200px) {
    .post-heading:nth-of-type(odd){
        //right:-20;
        h1{
            right: 0px;
        }
    }

    .post-heading:nth-of-type(even){
        //left:20;
        h1{
            left: 0px;
        }
    }
}

.post-heading:nth-of-type(6n+1){
    span {
        background: $palette-1;
    }
}
.post-heading:nth-of-type(6n+2){
    span {
        background: $palette-2;
    }
}
.post-heading:nth-of-type(6n+3){
    span {
        background: $palette-3;
    }
}
.post-heading:nth-of-type(6n+4){
    span {
        background: $palette-4;
    }
}
.post-heading:nth-of-type(6n+5){
    span {
        background: $palette-5;
    }
    
}
.post-heading:nth-of-type(6n+6){
    span{
        background: $palette-6;
    }
}
/*
 * Post list headings
 */

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0;
    }
}

.post-list-heading{
    display: block;
    margin: 0 0 0 0;
    position: relative;
    h1{ 
        position: relative;
        display: block;
        //width: 300px;
        text-align: right;
    }
    .post-link{
        box-shadow: 4px 4px 3px #bbb;
        padding: 3px 6px 6px 6px;   
        display: inline-block;
        color: white;
        &:hover{color:darken(white,15%);}
        &:visited{color:white;}
    }
}

.post-list li:nth-of-type(odd){
    //right:-20;
    text-align: right;
    h1{
        right: -55px;
    }
}

.post-list li:nth-of-type(even){
    //left:20;
    h1{
        text-align: left;
        left: -55px;
    }
}

@media screen and (max-width: 1200px) {
    .post-list li:nth-of-type(odd){
        //right:-20;
        h1{
            right: 0px;
        }
    }

    .post-list li:nth-of-type(even){
        //left:20;
        h1{
            left: 0px;
        }
    }
}

.post-list li:nth-of-type(6n+1){
    .post-link {
        background: $palette-1;
    }
}
.post-list li:nth-of-type(6n+2){
    .post-link {
        background: $palette-2;
    }
}
.post-list li:nth-of-type(6n+3){
    .post-link {
        background: $palette-3;
    }
}
.post-list li:nth-of-type(6n+4){
    .post-link {
        background: $palette-4;
    }
}
.post-list li:nth-of-type(6n+5){
    .post-link {
        background: $palette-5;
    }
    
}
.post-list li:nth-of-type(6n+6){
    .post-link{
        background: $palette-6;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.click-here{
    align: center;
    background: $palette-2;
    box-shadow: 4px 4px 3px #bbb;
    display: inline-block;
    color: white;
    a {
        font-size: 20pt;
        color: white;
        &:hover{
            color:lighten(white, 30%);
        }

        &:visited{
            color: white;
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: 0;
}

.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
